<section th:fragment="content">
    <section class="banner_area">
        <div class="container">
            <div class="banner_text">
                <h3 th:text="${namePage}"></h3>
                <ul>
                    <li><a th:href="@{/home}" class="text-white">Home</a></li>
                    <li><a class="text-white" th:text="${namePage}"></a></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="main_form d-flex justify-content-center align-items-center my-4">
        <div class="card w-100" style="max-width: 1200px;">
            <div class="card-header mb-1 fs-3 text-center">Đăng ký</div>
            <div class="card-body">
                <form action="">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3 row">
                                <label for="name" class="col-sm-4 col-form-label">Họ Tên</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3 row">
                                <label for="email" class="col-sm-4 col-form-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3 row">
                                <label for="phone" class="col-sm-4 col-form-label">Điện thoại</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="phone">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3 row">
                                <label for="username" class="col-sm-4 col-form-label">Username</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="username" name="username">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3 row">
                                <label for="password" class="col-sm-4 col-form-label">Mật khẩu</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                            </div>
                        </div> <div class="col-lg-6">
                            <div class="mb-3 row">
                                <label for="comfpass" class="col-sm-4 col-form-label">Xác nhận mật khẩu</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="comfpass" name="comfpass">
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="mb-3">
                        <label for="address" class="form-label">Địa chỉ</label>
                        <textarea class="form-control" id="address" rows="3"></textarea>
                      </div>
                  
                   
                    <div class="row m-1">
                        <button type="submit" class="btn btn-primary btn-block ">Register</button>
                    </div>
                    <div class="text-center">
                        <p>
                            I have an account <a th:href="@{/login}">Login</a>
                        </p>

                    </div>

                </form>
            </div>
        </div>
    </div>



</section>